<!-- _layouts/blogs.html -->
---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/javascript">
        window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
            processEscapes: true,
            tags: 'ams'
        },
        svg: {
            fontCache: 'global'
        }
        };
    </script>
</head>

<article class="post">
    <h1>{{ page.title }}</h1>
    <div class="post-date">{{ page.date | date: "%B %d, %Y" }}</div>
    <div class="post-content">
      {{ content }}
    </div>
  </article>
</html>
