<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/x-icon" href="/assets/images/profile_photo.jpg">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
        <li><a href="{{ site.baseurl }}/blogs">Blogs</a></li>
        <li><a href="{{ site.baseurl }}/cv">CV</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
</body>
</html>
